.houseSelector {
    margin: 40px 0;
    display: none;
    @media (max-width: 635px) {
        text-align: center;
    }
    ul {
        @media (max-width: 635px) {
            flex-direction: column;
        }
    }
    li {
        width: calc(25% - 15px);
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
            border: 1px solid goldenrod;
            padding: 10px;
            p {
                font-size: 2.4rem;
                line-height: 1.5;
                text-transform: uppercase;
            }
        }
        @media (max-width: 635px) {
            width: 100%;
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            &:last-child {
                border: none;
            }
            .container {
                max-width: 336px;
                height: 398px;
                border: 1px solid goldenrod;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        &:hover {
            transform: scale(1.2);
            transition: transform 0.4s ease;
        }
    }
    img {
        width: 100%;
        display: block;
    }
    button {
        background: none;
        padding: 0;
        height: 100%;
    }
    p {
        color: $primaryColor;
    }
    a {
        color: $primaryColor;
        text-decoration: none;
    }
}